.background_container {
    position: absolute;
    inset: 0; /* top: 0; right: 0; bottom: 0; left: 0 */
    overflow: hidden;
    pointer-events: none; /* 클릭 이벤트 통과 */
    z-index: -1; /* 배경이므로 뒤로 보내기 */
}
