/* ====================== kiosk-btn ======================= */
.kiosk-btn {
    position: relative;
    width: 332px;
    height: 53px;
    padding: 0;
    border: 0;
    /* 요소의 배경색을 투명하게 만드는 속성 - 보통 버튼 배경 이미지를 넣을 때 사용함 */
    background: transparent;
    border-radius: 20px;
    /* 요소의 경계 밖으로 벗어난 내용(자식 요소)을 잘라내는 속성 */
    overflow: hidden;
    /* 마우스를 올렸을 때, 커서를 손가락 모양으로 만들어주는 속성 */
    cursor: pointer;
    /* 모바일/터치 디바이스에서 터치했을 때 생기는 파란/회색 반짝임 제거하는 설정 */
    -webkit-tap-highlight-color: transparent;
    /* 사용자가 요소 내부 텍스트를 드래그/선택 못하게 하는 속성 */
    user-select: none;
    /* 모바일 터치 최적화 속성
        - 브라우저가 터치를 누르면 스크롤/더블탭 줌/제스처 같은 것을 먼저 판단하려고 해서, 실제 클릭 반응이 느려질 수 있다.
        - 아래처럼 설정하면, 스크롤/확대가 필요 없는 요소는 즉시 버튼 클릭 이벤트로 연결돼서 지연이 사라진다.
    */
    touch-action: manipulation;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
}

/* 브라우저 기본 outline 제거 */
.kiosk-btn:focus {
    outline: none;
}

/* 버튼이 focus될 때 */
.kiosk-btn:focus {
    outline: none; /* 선 형태 outline 제거 */
    border-radius: 20px;

    /* 외곽 glow (부드럽게 퍼지는 효과) */
    box-shadow:
        0 8px 20px rgba(0, 0, 0, 0.06),
        /* 기본 깊이감 유지 */ 0 0 0 10px rgba(254, 108, 80, 0.1),
        /* 흐릿한 첫번째 링 */ 0 0 28px 16px rgba(254, 108, 80, 0.15); /* 퍼지는 블러 글로우 */
}

.btn-text {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    line-height: 53px;
    font-family: 'Press Start 2P', Helvetica, sans-serif;
    font-size: 15px;
    color: #000;
}

/* ======================= kiost-btn/btn-background-long ======================= */
.btn-background-long {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
