/* 전역 스타일에 한 번만 넣어줘 */
html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* kiosk 밖으로 스크롤 금지 */
}

#root {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100vh;
}
