.title {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    margin-top: 40px;
    font-family: 'Pretendard', sans-serif;
    color: #000000;
}
/* "..." 애니메이션 */
.dots::after {
    content: '.';
    animation: dots 1.2s steps(4, end) infinite;
}

@keyframes dots {
    0% {
        content: '.';
    }
    25% {
        content: '..';
    }
    50% {
        content: '...';
    }
    75% {
        content: '....';
    }
    100% {
        content: '.';
    }
}
