/* ======================= kiosk ======================= */
.kiosk {
    /* 배경색 설정 */
    background-color: #ffffff;
    /* flex 레이아웃으로 자식 요소들 유연하게 배치 */
    display: flex;
    /* 자식 요소들 세로 방향으로 정렬 */
    flex-direction: column;
    /* %는 부모 요소의 높이를 기준으로 % 계산.
    vh는 브라우저 자체 높이를 기준으로 % 계산 */
    width: 100%;

    height: 100vh; /* 내용 기준으로 크고 */
    min-height: 100vh; /* 그래도 최소한 화면 한 장은 채워라 */
    /* 좌우 마진 자동 설정하여 가로 가운데 정렬 */
    margin: 0 auto;
}
