/* ===================== footer ===================== */
.footer {
    background-color: #ffffff;
    display: flex;
    /* height: 12.85%;  대신 flex */
    flex: 0 0 12.85%;
    width: 100%;
    justify-content: center; /* 가로 가운데 */
    align-items: center; /* 세로 가운데 */
}
